services:
  app:
    container_name: sre-agent-lab-devcontainer
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspaces/sre-agent-lab:cached
    command: sleep infinity
    network_mode: service:db

  db:
    container_name: sre-agent-lab-postgres
    image: postgres:14.3
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres

volumes:
  postgres-data:
